@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.3;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.7;
    }
}

.custom-cursor-highlight {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    pointer-events: none;
    animation: pulse 1s infinite;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
